<!DOCTYPE html>
<html>

<head>
    <title>KYKO - Karriere</title>
    <link rel="stylesheet" href="css/home.css">
    <link rel="stylesheet" href="css/menu.css">
    <meta charset="UTF-8">
    <link rel="icon" type="image/x-icon" href="/images/kyko_favico.png">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="title" content="KYKO - The Flavours of Modern Asia">
    <meta name="keywords" content="kyko, sushi, japanese, asian, restaurant, germany, modern, fusion, cuisine, reservation">
    <script src="https://cdn.tailwindcss.com"></script>
    <style>
        @media only screen and (max-width: 767px){
            .menu-body{
                padding: 2rem;
            }
        }
    </style>
</head>

<body>
    <div class="navbar">
        <div id="menu_controller" class="has_transition_600" style="animation: fade-in 0s 0s ease-in-out forwards;">
            <div id="lines" class="has_transition_600">
                <hr class="has_transition_600 _1">
                <hr class="has_transition_600 _2">
                <hr class="has_transition_600 _3">
            </div>
        </div>
        <div class="nav">
            <ul>
                <a class="nav-links" href="/">
                    <li>home</li>
                </a>
                <a class="nav-links" href="/menu">
                    <li>menu</li>
                </a>
                <a class="nav-links" href="/career">
                    <li>karriere</li>
                </a>
                <a class="nav-links" href="/#gallery">
                    <li>gallery</li>
                </a>
                <a class="nav-links" href="/#about-us">
                    <li>about</li>
                </a>
                <a class="nav-links" href="/privacy">
                    <li>privacy policy</li>
                </a>
            </ul>
        </div>
    </div>
    <div class="menu-page-full">
        <div class="grid lg:grid-cols-3 sm:grid-cols-1">
            <div class="asian-line flex items-center">
                <img class="w-full" src="images/line2.png" />
            </div>
            <h1 class="text-6xl font-bold text-center mt-4 mb-4" style="color: #FCC86C;">KARRIERE</h1>
            <div class="asian-line flex items-center">
                <img class="w-full" src="images/line2.png" />
            </div>
        </div>

        <!-- BEGIN: Category and Food    Items -->
        <div class="menu-body grid grid-cols-1 gap-12 sm:p-4" style="color: white;">
Angaben gemäß § 5 TMG <br>
Clonta Petru<br>
Strasse bacia Nr38A<br>
335700 Orastie<br>
Vertreten durch:<br>
Max Muster<br>
Kontakt:<br>
Telefon:+40 761204590<br>
E-Mail: unitedhandshelping@gmail.com<br>
Haftungsausschluss:<br><br>

Haftung für Inhalte<br><br>

Die Inhalte unserer Seiten wurden mit größter Sorgfalt erstellt. Für die Richtigkeit, Vollständigkeit und Aktualität der Inhalte können wir jedoch keine Gewähr übernehmen. Als Diensteanbieter sind wir gemäß § 7 Abs.1 TMG für eigene Inhalte auf diesen Seiten nach den allgemeinen Gesetzen verantwortlich. Nach §§ 8 bis 10 TMG sind wir als Diensteanbieter jedoch nicht verpflichtet, übermittelte oder gespeicherte fremde Informationen zu überwachen oder nach Umständen zu forschen, die auf eine rechtswidrige Tätigkeit hinweisen. Verpflichtungen zur Entfernung oder Sperrung der Nutzung von Informationen nach den allgemeinen Gesetzen bleiben hiervon unberührt. Eine diesbezügliche Haftung ist jedoch erst ab dem Zeitpunkt der Kenntnis einer konkreten Rechtsverletzung möglich. Bei Bekanntwerden von entsprechenden Rechtsverletzungen werden wir diese Inhalte umgehend entfernen.<br><br>

Haftung für Links<br><br>

Unser Angebot enthält Links zu externen Webseiten Dritter, auf deren Inhalte wir keinen Einfluss haben. Deshalb können wir für diese fremden Inhalte auch keine Gewähr übernehmen. Für die Inhalte der verlinkten Seiten ist stets der jeweilige Anbieter oder Betreiber der Seiten verantwortlich. Die verlinkten Seiten wurden zum Zeitpunkt der Verlinkung auf mögliche Rechtsverstöße überprüft. Rechtswidrige Inhalte waren zum Zeitpunkt der Verlinkung nicht erkennbar. Eine permanente inhaltliche Kontrolle der verlinkten Seiten ist jedoch ohne konkrete Anhaltspunkte einer Rechtsverletzung nicht zumutbar. Bei Bekanntwerden von Rechtsverletzungen werden wir derartige Links umgehend entfernen.<br><br>

Urheberrecht<br><br>

Die durch die Seitenbetreiber erstellten Inhalte und Werke auf diesen Seiten unterliegen dem deutschen Urheberrecht. Die Vervielfältigung, Bearbeitung, Verbreitung und jede Art der Verwertung außerhalb der Grenzen des Urheberrechtes bedürfen der schriftlichen Zustimmung des jeweiligen Autors bzw. Erstellers. Downloads und Kopien dieser Seite sind nur für den privaten, nicht kommerziellen Gebrauch gestattet. Soweit die Inhalte auf dieser Seite nicht vom Betreiber erstellt wurden, werden die Urheberrechte Dritter beachtet. Insbesondere werden Inhalte Dritter als solche gekennzeichnet. Sollten Sie trotzdem auf eine Urheberrechtsverletzung aufmerksam werden, bitten wir um einen entsprechenden Hinweis. Bei Bekanntwerden von Rechtsverletzungen werden wir derartige Inhalte umgehend entfernen.<br><br>

Datenschutz<br><br>

Die Nutzung unserer Webseite ist in der Regel ohne Angabe personenbezogener Daten möglich. Soweit auf unseren Seiten personenbezogene Daten (beispielsweise Name, Anschrift oder eMail-Adressen) erhoben werden, erfolgt dies, soweit möglich, stets auf freiwilliger Basis. Diese Daten werden ohne Ihre ausdrückliche Zustimmung nicht an Dritte weitergegeben.<br>
Wir weisen darauf hin, dass die Datenübertragung im Internet (z.B. bei der Kommunikation per E-Mail) Sicherheitslücken aufweisen kann. Ein lückenloser Schutz der Daten vor dem Zugriff durch Dritte ist nicht möglich.<br>
Der Nutzung von im Rahmen der Impressumspflicht veröffentlichten Kontaktdaten durch Dritte zur Übersendung von nicht ausdrücklich angeforderter Werbung und Informationsmaterialien wird hiermit ausdrücklich widersprochen. Die Betreiber der Seiten behalten sich ausdrücklich rechtliche Schritte im Falle der unverlangten Zusendung von Werbeinformationen, etwa durch Spam-Mails, vor.<br><br>

Impressum vom Impressum Generator der Kanzlei Hasselbach, Frankfurt<br><br>

        </div>

        <footer class="bg-white rounded-lg shadow dark:bg-[#2E2D2C] m-4">
            <div class="w-full max-w-screen-xl mx-auto p-4 md:py-8">
                <div class="sm:flex sm:items-center sm:justify-between">
                    <a href="https://flowbite.com/"
                        class="flex items-center mb-4 sm:mb-0 space-x-3 rtl:space-x-reverse">
                        <img src="images/kyko_logo_3.png" class="h-12" alt="Kyko Logo" />
                    </a>
                    <span class="text-gray-400">
                        <p>Restaurant Timings : 9AM to 11PM &nbsp; | &nbsp;
                            Store Location : Somewhere in Asia</p>
                    </span>
                    <ul
                    class="flex flex-wrap items-center mb-6 text-sm font-medium text-gray-500 sm:mb-0 dark:text-gray-400">
                    <li>
                        <a href="/#about-us" class="hover:underline me-4 md:me-6">About</a>
                    </li>
                    <li>
                        <a href="/privacy" class="hover:underline me-4 md:me-6">Privacy Policy</a>
                    </li>
                </ul>
                </div>
                <hr class="my-6 border-gray-200 sm:mx-auto dark:border-gray-500 lg:my-8" />
                <span class="block text-sm text-gray-500 sm:text-center dark:text-gray-400">© 2024 <a
                        href="https://flowbite.com/" class="hover:underline">KYKO</a>. All Rights Reserved.</span>
            </div>
        </footer>
    </div>
    <script>
        const navToggle = document.querySelector('#menu_controller');
        const nav = document.querySelector('.nav');
        const page = document.querySelector('.menu-page-full');

        navToggle.addEventListener('click', () => {
            nav.style.display = 'block';
            nav.classList.toggle('nav--visible');
            page.classList.toggle('page--invisible');
            // setTimeout(() => {
            //     page.classList.toggle('page--hidden');
            // }, 300);

        });
        const navLinks = document.querySelectorAll('.nav-links');

        navLinks.forEach(link => {
            link.addEventListener('click', () => {
                nav.classList.remove('nav--visible');
                page.classList.remove('page--invisible');
            });
        });
    </script>
    <script>
        window.addEventListener('scroll', () => {
            const controller = document.querySelector('#menu_controller');
            if (window.scrollY > 50) {
                controller.classList.add('change-color');
            } else {
                controller.classList.remove('change-color');
            }
        });

    </script>
</body>

</html>