<!DOCTYPE html>
<html>

<head>
    <title>My Page</title>
    <link rel="stylesheet" href="css/home.css">
    <link rel="stylesheet" href="css/menu.css">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.tailwindcss.com"></script>
</head>

<body>
    <div class="navbar">
        <div id="menu_controller" class="has_transition_600" style="animation: fade-in 0s 0s ease-in-out forwards;">
            <div id="lines" class="has_transition_600">
                <hr class="has_transition_600 _1">
                <hr class="has_transition_600 _2">
                <hr class="has_transition_600 _3">
            </div>
        </div>
        <div class="nav">
            <ul>
                <a class="nav-links" href="/">
                    <li>home</li>
                </a>
                <a class="nav-links" href="/menu">
                    <li>menu</li>
                </a>
                <a class="nav-links" href="/contact">
                    <li>contact</li>
                </a>
                <a class="nav-links" href="/career">
                    <li>career</li>
                </a>
                <a class="nav-links" href="/#gallery">
                    <li>gallery</li>
                </a>
                <a class="nav-links" href="/#about-us">
                    <li>about</li>
                </a>
            </ul>
        </div>
    </div>
    <div class="menu-page-full">
        <div class="grid lg:grid-cols-3 sm:grid-cols-1">
            <div class="asian-line flex items-center">
                <img class="w-full" src="images/line2.png" />
            </div>
            <h1 class="text-6xl font-bold text-center mt-4 mb-4" style="color: #FCC86C;">KARRIERE</h1>
            <div class="asian-line flex items-center">
                <img class="w-full" src="images/line2.png" />
            </div>
        </div>

        <!-- BEGIN: Category and Food    Items -->
        <div class="menu-body grid grid-cols-1 gap-12" style="color: white;">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequuntur perspiciatis suscipit, quidem sed quis dicta inventore accusamus eaque tempore eos iusto modi ad laboriosam. Rerum illum nam dolorum reprehenderit totam.
        </div>

        <footer class="bg-white rounded-lg shadow dark:bg-[#2E2D2C] m-4">
            <div class="w-full max-w-screen-xl mx-auto p-4 md:py-8">
                <div class="sm:flex sm:items-center sm:justify-between">
                    <a href="https://flowbite.com/"
                        class="flex items-center mb-4 sm:mb-0 space-x-3 rtl:space-x-reverse">
                        <img src="images/kyko_logo_3.png" class="h-12" alt="Kyko Logo" />
                    </a>
                    <span class="text-gray-400">
                        <p>Restaurant Timings : 9AM to 11PM &nbsp; | &nbsp;
                            Store Location : Somewhere in Asia</p>
                    </span>
                    <ul
                        class="flex flex-wrap items-center mb-6 text-sm font-medium text-gray-500 sm:mb-0 dark:text-gray-400">
                        <li>
                            <a href="#" class="hover:underline me-4 md:me-6">About</a>
                        </li>
                        <li>
                            <a href="#" class="hover:underline me-4 md:me-6">Privacy Policy</a>
                        </li>
                        <li>
                            <a href="#" class="hover:underline me-4 md:me-6">Licensing</a>
                        </li>
                        <li>
                            <a href="#" class="hover:underline">Contact</a>
                        </li>
                    </ul>
                </div>
                <hr class="my-6 border-gray-200 sm:mx-auto dark:border-gray-500 lg:my-8" />
                <span class="block text-sm text-gray-500 sm:text-center dark:text-gray-400">© 2024 <a
                        href="https://flowbite.com/" class="hover:underline">KYKO</a>. All Rights Reserved.</span>
            </div>
        </footer>
    </div>
    <script>
        const navToggle = document.querySelector('#menu_controller');
        const nav = document.querySelector('.nav');
        const page = document.querySelector('.menu-page-full');

        navToggle.addEventListener('click', () => {
            nav.style.display = 'block';
            nav.classList.toggle('nav--visible');
            page.classList.toggle('page--invisible');
            // setTimeout(() => {
            //     page.classList.toggle('page--hidden');
            // }, 300);

        });
        const navLinks = document.querySelectorAll('.nav-links');

        navLinks.forEach(link => {
            link.addEventListener('click', () => {
                nav.classList.remove('nav--visible');
                page.classList.remove('page--invisible');
            });
        });
    </script>
    <script>
        window.addEventListener('scroll', () => {
            const controller = document.querySelector('#menu_controller');
            if (window.scrollY > 50) {
                controller.classList.add('change-color');
            } else {
                controller.classList.remove('change-color');
            }
        });

    </script>
</body>

</html>